.details {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  color: #c7ea46;

  .information {
    flex: 1;
    display: flex;
    justify-content: space-between;
    .texts {
      flex: 7;
      display: flex;
      flex-direction: column;
      .title {
        font-weight: bold;
      }
      .informationPiece {
        display: flex;
        font-size: 13px;
        margin: 0.2rem 0;
        .label {
          flex: 3;
        }
        .value {
          flex: 5;
          color: white;
        }
      }
    }
    .copyLink {
      flex: 1;
    }
  }
  .description {
    flex: 1;
    .descriptionTitle {
      font-size: 15px;
    }
    .descriptionContent {
      font-size: 13px;
      color: white;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
