@import '../../../styles/styles.scss';

.modalRoot {
  width: 30vw;
  height: 50vh;
  min-height: 430px;
  background-color: #d9d9d9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1280px) {
    width: 80vw;
    height: 80vh;
  }

  .plusButton {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid black;
  }

  .error {
    color: red;
  }

  .descriptionTextArea {
    resize: none;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    padding: 0.3rem;
  }

  .modalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      background-color: $primary;
      border: 1px solid black;
      padding: 0.4rem 2rem;
      border-radius: 7px;
      transition: background-color 0.1s;
      &:hover:enabled {
        cursor: pointer;
        background-color: $primary-darken;
      }
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
