@import '../../../styles/styles.scss';

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #464646;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .uploadImageWrapper {
    @include imageStyling();
    width: 300px;
    height: 300px;
  }
}
