@import '../../../styles/styles.scss';

.uploadImageRoot {
  cursor: pointer;
  width: 100%;
  height: 100%;
  .imageButton {
    background-color: $primary;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s;
    &:hover {
      background-color: $primary-darken;
    }
    .plusSign {
      display: inline-block;
      width: 50%;
      height: 50%;

      background: linear-gradient(#000, #000), linear-gradient(#000, #000);
      background-position: center;
      background-size: 50% 3px, 3px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat: no-repeat;
    }
  }
}
