$primary: #c7ea46;
$primary-darken: #9bbb29;

@mixin imageStyling {
  margin: 1rem;
  position: relative;
  height: 300px;
  box-shadow: 3px 15px 30px -2px #000000;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid black;
}

.body1 {
  font-size: 0.8rem;
  color: #464646;
}
.body2 {
}
.buttonText {
  font-size: 0.8rem;
  font-weight: bold;
  color: #464646;
}
.caption1 {
  font-size: 0.7rem;
  color: #464646;
}
.caption2 {
  font-size: 0.6rem;
  color: #464646;
}
.heading1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #464646;
}
.heading2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #464646;
}
.heading3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #464646;
}
.heading4 {
}
.heading5 {
}
.heading6 {
}
.overline {
}
.subtitle1 {
}
.subtitle2 {
}
