.header {
  display: flex;
  align-items: center;
  background-color: #c7ea46;
  padding: 0.5rem 2rem;
  box-shadow: 3px 15px 30px -2px #000000;

  .headerTitle {
    font-weight: bold;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #464646;
  }
}

.pageBody {
  padding: 4rem 2rem;
}
