.modalBackground {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  .contentWrapper {
    box-shadow: 0px 0px 200px 100px #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: initial;
  }
}
