@import '../../../styles/styles.scss';

.pictureWrapper {
  @include imageStyling();
  &:hover > .details {
    opacity: 100%;
  }

  .details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0%;
    transition: opacity 0.2s;
    backdrop-filter: blur(10px);
  }
  .picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
